  body{
    margin: 0;
    background-color: #CD5C5C !important;
  }
  ul {
    list-style-type: none;
    margin-block: auto !important;
  }
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
    a{
    color: unset !important;
    }

    /* Button */
    .btn-primary{
      color: var(--color30) !important;
      font-weight: 600 !important;
      background-color: var(--color10) !important;
      border: none !important;
    }
  
    /* Text */
    .nav-text{
      font-size: 18px;
      font-weight: 600;
      color: white !important;
    }