@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
:root {
  --color10: #FCD94B;
  --color30: #FFFFFF;
  --color60: #bbb2b2;
  --colorbutton: #E02020;
}
html {

  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.color-10{
  color: var(--color10);
}
.color-11{
  color: #FFAA00;
}
.color-12{
  color: #E02020;
}
h2{
  font-size: 60px !important;
  font-weight: bold !important;
  font-style: italic;
}
h3{
  font-size: 40px !important;
  font-weight: bold !important;
  color: #414141;
}
h4{
  color: white;
  font-weight: bold !important;
  font-style: italic;
}
h5{
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.margin-jumbotron p{
  margin: 0;
  color: white;
}
p{
  font-size: 18px;
  color: #414141;
}
ul {
  list-style-type: none;
  margin-block: auto !important;
}
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
  a{
  color: unset !important;
  }

  .color-black{
    color: black;
  }

  /* Button */
  .btn-primary{
    color: var(--colorbutton) !important;
    font-weight: 600 !important;
    background-color: var(--color30) !important;
    border: none !important;
    border-radius: 12px 0px !important;
  }

  .btn-register{
    color: var(--color30) !important;
    font-weight: 600 !important;
    background-color: var(--colorbutton) !important;
    border: none !important;
    border-radius: 12px 0px !important;
  }

  /* Text */
  .nav-text{
    font-size: 18px;
    font-weight: 600;
    color: white !important;
  }
  
  bold{
    font-weight: bold !important;
  }

  /* Segitiga */
  
.segitiga-{
  position: absolute;
}

.white-1{
  margin-top: 40rem;
  margin-left: 4rem;
}

.white-2{
  width: 50px;
  margin-left: -1rem;
  margin-top: 8rem;
  transform: rotate(21deg);
}

.white-3{
  width: 30px;
  margin-left: 68%;
  margin-top: 12rem;
  transform: rotate(20deg);
}
.white-4{
  width: 70px;
  margin-left: 80%;
  margin-top: 26rem;
}
.white-5{
  margin-left: 67%;
  margin-top: 28rem;
  transform: rotate(20deg);
}

.filter-gray{
  filter: invert(8%) sepia(1%) saturate(0%) hue-rotate(36deg) brightness(95%) contrast(84%);
}

.white-6{
  margin-left: 90%;
}

.white-7{
  z-index: 1;
  width: 55px;
  margin-top: 4rem;
  margin-left: 5%;
}

/* Loading */
#loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #FBFBFB;
  z-index: 99;
}

.default{
  font-style: unset;
}
.desktop-none{
  visibility: hidden;
  font-size: 0.8rem;
}
.webkit-center{
  text-align: unset;
}
.mt-responsive{
  margin-top: 0;
}
.ml-4-{
  margin-left: 1.5rem!important;
}
.text-right-{
  text-align: right;
}
/* Mobile */
@media (max-width: 990px){
  .desktop-none{
    visibility: visible;
    font-size: 1.25rem;
  }
  .webkit-center{
    text-align: -webkit-center;
  }
  .mt-responsive{
    margin-top: 2rem;
  }
  .ml-4-{
    margin-left: 0 !important;
  }
  .text-right-{
    text-align: center;
  }
}

@media (max-width: 1400px){.segitiga-{
  display: none;
}}