:root {
    --color10: #FCD94B;
    --color30: #FFFFFF;
    --color60: #bbb2b2;
  }
  /* Navbar */
  .top-nav{
    padding: 30px 0px 10px 0px;
    display: flex;
    align-items: center;
    color: var(--color30);
    font-size: 20px;
  }
  .navbar{
    padding: 0 !important;
  }
  .nav-link{
    padding: 0 !important;
    padding-right: 2rem !important;
  }

.navbar-nav li a:hover {
    color: var(--color10) !important;
}

.nav-link {
  position: relative;
}

.nav-link li:hover a:after {
    width: 65%;
}

.nav-link li a:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color10);
    -webkit-transition: width .35s ease;
    transition: width .35s ease;
}
.navbar-collapse{
  border-top: 1px solid var(--color30);
}

.bg-header{
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: -20px;
}
.nav-fixed {
  position: fixed !important;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 1;
  height: 100px;
}

.nav-active {
  top: 0;
  background-color:black;   
}

/* Jumbotron */
.jumbotron{
  background:linear-gradient(rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.712)), url(/images/background.png);
  background-size: cover;
  height: 100vh;
  margin-top: -6rem;
}
.margin-jumbotron{
  margin-left: 1.6rem;
}
.s-our-mission {
  padding: 100px 0px 50px 0px;
}
.display-4{
  margin-top: 8.5rem;
}
.ourmission {
  margin-top: 2rem;
}
/* Our Mission */
.ourmission img{
  width: 500px;
  height: 300px;
  border-radius: 30px 0px;
  object-fit: cover;
}
.navbar-toggler{
  position: absolute;
  top: -3rem;
  right: 0;
}
.ml-media{
  margin-left: 3rem !important;
}

.img-event{
  margin-top: 5rem;
  width: 100%;
}

.navbar-toggler{
  width: 47px;
  height: 34px;
  border-color: transparent !important;
}
.navbar-toggler .line{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.mt-button{
  margin-top: 1rem;
}

.mouse-margin{
  margin-top: -4.5rem;
}

/* Reasons */
.bg-reasons{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 500px;
  background-image: url(/images/bg_reasons.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.reasons{
 padding-top: 8rem;
 padding-bottom: 8rem;
}

.human-reasons{
  position: absolute;
  margin-top: -5rem;
  margin-left: -2rem;
}

.reasons-cover{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
  justify-content: right;
  margin-top: 4rem;
}
.reasons-item{
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
}
.text-reasons{
  color: black;
}

.img-reasons{
  width: 121px;
  height: 121px;
  object-fit: cover;
  border-radius: 100%;
}

.color-white{
  color: white;
}

/* Akhir Reasons  */

/* Schedule */
.bg-schedule{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  background-image: url(/images/bg_event_schedule.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.human-schedule{
  position: absolute;
  margin-top: -5rem;
  right: 50px
}
.card-schedule{
  width: 500px; 
  height: max-content;
  padding: 1rem;
  border-radius: 12px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
}

.s-event-schedule{
  padding: 100px 0px 200px 0px;
}

.bold{
  font-weight: bold;
}

.border-schedule {
  border-left: 1px solid #D9D9D9;
  height: 100px;
}

.time-schedule{
  width: max-content;
  height: max-content;
  background-color: #F0F0F0;
  border-radius: 20px;
  padding: 0.5rem;
}

.card-schedule{
  margin-bottom: 1rem;
}

.no-flex{
  margin-left: 0.8rem;
}

.no-flex p{
  display: block;
  margin: 0;
}
/* Akhir Schedule */

/* Running Route */
.kategori- h5{
  font-size: 40px;
  font-weight: 400;
  color: #0F56A3;
}
.kategori- h5 span{
  font-weight: bold;
  color: #CD1D2B;
}
.border-running{
  border-top: 1px solid #D9D9D9;
}

.s-running-route{
    padding: 100px 0px 50px 0px;
}

.text-running-km{
  margin-top: -8rem;
}

.margin-running{
  margin-top: -4rem;
}

.text-running-km h3{
  font-weight: 400 !important;
  color: var(--color30);
}

.text-running-km p{
  color: var(--color30);
}

.bg-map{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 54%;
  background-image: url(/images/bg_map.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.border-running p{
  margin-top: 1rem;
}

/* Akhir Running Route */
.mouse{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 25px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
}

.mouse-wheel{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.img-alfamartrun{
  width: 350px;
}


/* Mobile */
@media (max-width: 990px){
  .navbar {
    top: 4.6rem;
    border-top: 0px solid var(--color30);
  }
  .bg-header{
   display: none;
  }
  .img-alfamartrun{
    width: 250px;
  }
  .nav-link li:hover a:after {
    width: 0;
}
.human-schedule{
  display: none;
}
.bg-schedule{
  display: none;
}

.s-our-mission {
  padding: 0px 0px 50px 0px;
}

.navbar-collapse{
  text-align: center;
}
.nav-link{
  padding-right: 0 !important;
  margin-bottom: 2px;
}
  .top-nav ul{
    display: none !important;
  }
  .top-nav{
    position: fixed;
    margin-top: 80px;
  }
  .ml-media{
    margin-left: 1rem !important;
  }
  .mt-button{
    margin-top:0rem;
  }

  .jumbotron{
    text-align: center;
  }
.ourmission{
  margin-top: 0px;
  text-align: center;
}
  .ourmission img {
    width: 300px;
    height: 200px;
    margin-bottom: 1rem;
}

.display-4 {
  margin-top: 12rem;
}

.human-reasons{
  display: none;
}

.reasons {
  padding-top: 0;
  padding-bottom: 1rem;
}

.reasons-cover{
  place-content: center;
  margin-top: 0;
}

header{
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 11.5rem;
  background-color: black;
}

.navbar-collapse .btn-primary{
  margin-bottom: 2rem;
}
.navbar-collapse{
  border-top: unset;
  background-color: black;
}
.margin-jumbotron{
  margin-left: 0;
}
.mouse-margin {
  margin-top: 2rem;
}
.nav-fixed{
  height: 0;
}
.center-card{
  text-align: -webkit-center;
}
.s-event-schedule{
  padding: 0;
}
.bg-map{
  height: 80%;
}
.card-schedule{
  width: max-content;
}
.margin-running {
  margin-top: -8rem;
  margin-bottom: 4rem;
}
}
  